﻿
#leftCol, #midCol, #rightCol
{
	float: left;
	width: 320px;
}

.bar
{
	height: 5px;
	border: solid 1px lightgray;
}

body
{
	font-size: 11px;
	font-family: Verdana;
}


.pnl
{
	width: 300px;
	border: solid 1px lightgray;
	padding: 5px;
	margin: 4px;
}

h1
{
	font-size: 13px;
}

h2
{
	font-size: 12px;
]

div
{
	padding: 4px;
	margin: 0px;
}

.logOut
{
    /*overflow-x:hidden;
    overflow-y:visible;
    height:500px;*/
    background-color: gray;

    width: 150px;
    height: 150px;
    overflow: scroll;
}
