body
{
	font-size: 11px;
}

.pnl
{
	float:left;
	width: 300px;
	border: solid 1px gray;
}

h1
{
	font-size: 13px;
}

h2
{
	font-size: 12px;
]

.bar
{
	height: 5px;
}

div
{
	padding: 0px;
	margin: 0px;
}