﻿/* List container */
#listCont
{
	border: solid 1px gray;
	float: left;
	width: 400px;
}

#listCont .li
{
	border: solid 1px lightgray;
	margin: 0px;
}

#listCont .li:hover { 
	background-color: lightgray;
}

/* Properties container */
#propCont
{
	border: solid 1px gray;
	float: left;
	width: 400px;
	
}