﻿<%@ Page Language="C#" %>
<%@ Register TagPrefix="uc" TagName="Town" Src="~/Panels/TownPanel.ascx" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Town</title>
</head>
<body>
	<form>
		<uc:Town id="Town" runat="server" />
	</form>
</body>
</html>

